<html>
<body>
<form method="post">
    <h2>Implicit Grant</h2>
    {{ if .Message }}
        <br><p>{{ .Message }}</p>
    {{ end }}
    <br>
    The application <b>{{ .ApplicationName }}</b> would like to have these permissions:<br>
    {{ range $i, $e := .Scopes }}
        <input type="checkbox" name="_accepted_scopes" value="{{ $e }}" id="{{ $i }}"> <label for="{{ $i }}">{{ $e }}</label><br>
    {{ end }}
    <br>
    <button type="submit">Authorize</button> <a href="{{ .CancelURL }}">Cancel</a>
</form>
</body>
</html>