<html>
<body>
<form method="post">
    {{ if .Message }}
        <br><p>{{ .Message }}</p>
    {{ end }}
    <label for="_username">Username:</label><br>
    <input type="text" name="_username" id="_username" required><br>
    <label for="_password">Password:</label>
    <input type="password" name="_password" id="_password" required><br>
    <br>
    <button type="submit">Login</button> <a href="{{ .RedirectCancelURL }}">Cancel</a>
</form>
</body>
</html>